{% extends 'base.html' %}
{% block title %}Lista de Oficinas{% endblock %}

{% block content %}

<h2>Oficinas</h2>
<a href="{% url 'oficina_create' %}" class="btn btn-primary mb-3">Nueva Oficina</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nombre corto</th>
      <th>Acciones</th> 
    </tr>
  </thead>
  <tbody>
    {% for oficina in page_obj %}
      <tr>
        <td>{{ oficina.nombre }}</td>
        <td>{{ oficina.nombre_corto }}</td>
        <td>
          <a href="{% url 'oficina_update' oficina.pk %}" class="btn btn-sm btn-warning">
            Modificar
          </a>
            <a href="{% url 'oficina_delete' oficina.pk %}" class="btn btn-sm btn-danger">
                Eliminar
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="3">No hay oficinas cargadas.</td></tr>
    {% endfor %}
  </tbody>
</table>


<!-- Paginación -->
<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      </li>
    {% endif %}
    <li class="page-item active">
      <span class="page-link">{{ page_obj.number }}</span>
    </li>
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
